# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp

consignment-cli/consignment-cli
consignment-cli-micro/consignment-micro
consignment-cli-vessel/consignment-cli-vessel
consignment-service/consignment-service
consignment-service-micro/consignment-service-micro
consignment-service-vessel/consignment-service-vessel
vessel-service/vessel-service
consignment-cli-vessl-y/consignment-cli-vessel
